@import url("colors.css");

.legend {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.legend-title {
    text-align: center;
    color: var(--white);
}

.legend-content {
    display: flex;
    gap: 5px;
}

.legend-min,
.legend-max {
    line-height: 15px;
    color: var(--white);
}

.colorbar {
    display: block;
    width: 175px;
    height: 15px;
    border: none;
}