@import url("colors.css");

.parameter-footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 400;
}

.parameter-footer-item-icon {
    width: 2rem;
    height: 2rem;
}

.category-menu {
    display: none;
    margin: 0;
    padding: 0;
    background-color: var(--darkgrey);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
    color: var(--white);
    white-space: nowrap;
    transition: max-height 0.5s ease-in;
    max-height: 0px;
}

.category-menu.expanded {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 110%;
    left: -10%;
    max-height: 400px;
    transition: max-height 1s ease-out;
    z-index: 99999;
}

.category-menu button {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.category-header {
    margin: 0px;
    padding: 5px 0px 5px 10px;
    text-transform: uppercase;
}

.category-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5px 0px 0px;
    gap: 10px;
}

li {
    list-style: none;
    font-size: 18px;
    padding-bottom: 7px;
    padding-left: 10px;
    margin-right: 15px;
    color: white;
}

.current {
    color: var(--yellow);
}

.category-menu li::before {
    padding-right: 13px;
}

.category-menu-item::before {
    content: '\2610';
}

.category-menu-item.current::before {
    content: '\1F5F9';
}

.category-svg {
    height: 25px;
    width: 25px;
}

@media (orientation: portrait) or (width < 1000px) {
    .parameter-footer-item {
        font-size: 1rem;
    }

    .category-header {
        font-size: 1rem;
    }

    .category-menu-item {
        font-size: 1rem;
    }

    .parameter-footer-item-title {
        display: none;
    }

    .parameter-footer-item-icon {
        width: 3rem;
        height: 3rem;
    }

    .category-svg {
        height: 2.8rem;
        width: 2.8rem;
    }
}