.map-header {
    display: block;
    background-color: rgb(71, 68, 68);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    height: 7%;
    width: 100%;
    z-index: 1000;
}