@import url("colors.css");

.map-overlay {
    display: flex;
    min-height: auto;
    max-height: 80%;
    min-width: 80%;
    max-width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    margin: 0;
    background-color: var(--grey_transparent);
    z-index: 9999999;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--white);
    overflow-y: scroll;
}

.closeArea>button {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
    z-index: 2;
    background-color: var(--yellow);
    color: var(--darkgrey);
    border: none;
    box-shadow: var(--darkgrey) 0px 3px 10px;
}