@import url("colors.css");

.navbar {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--darkgrey);
    color: white;
    font-weight: 400;
    text-align: center;
    padding: 1rem 0rem .3rem 0rem;
    border-bottom: 1px solid var(--lightgrey);
    overflow: visible;
    z-index: 3;
}

.menu {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin-right: 30px;
    z-index: 10;
}

.open {
    display: flex !important;
}

.menu-wrapper {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    text-decoration: none;
    background-color: var(--darkgrey);
    margin: 0;
    padding: 0;
    text-align: left;
    z-index: 2;
}

.menu-item {
    display: list-item;
    width: 100%;
    padding-left: 15px;
    text-decoration: none;
    color: var(--white);
    padding-bottom: 10px;
}

.menu-item:hover {
    background-color: var(--yellow);
}

.biginfo {
    margin-right: 30px;
}

.biginfo>svg {
    color: var(--yellow);
    font-size: 20px;
}

.biginfo>svg:hover {
    color: var(--white);
}

.title {
    font-weight: 500;
    flex-grow: 1;
}

.title-upper {
    font-size: 1.3rem;
}

.title-lower {
    display: flex;
    justify-content: center;
    font-size: .9rem;
    gap: .5rem;
}

.title-scenario-primary {
    display: flex;
}

.title-scenario-secondary {
    display: flex;
    gap: .5rem;
}

.spacer {
    flex-grow: 1;
    margin: 0 10px;
}

@media only screen and (max-width: 600px) {
    .title-scenario-secondary {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .title-scenario-secondary {
        display: none;
    }

    .title-upper {
        font-size: 1.0rem;
    }

    .title-lower {
        font-size: .625rem;
    }
}