@import url("colors.css");

.sidebar {
     display: none;
     position: absolute;
     right: 0;
     top: 100%;
     padding: 10px 0px 10px 0px;
     width: 500px;
     max-height: 80vh;
     transition: width 0.5s ease-in;
     background-color: var(--grey_transparent);
     color: var(--white);
     border-color: var(--white);
     box-sizing: border-box;
     overflow-y: scroll !important;
     z-index: 3;
}

.sidebar-open {
     display: block;
}

.sidebar-body {
     overflow: visible;
}

.sidebar-header {
     padding-bottom: 0;
}

.text-main-name {
     font-size: 1.5rem;
     color: var(--blue);
     padding-bottom: 0;
     margin-bottom: 0;
}

.text-main-value {
     font-size: 2rem;
     color: var(--yellow);
}

.text-scenario {
     font-size: 1.2rem;
     color: var(--white);
}

.location-data {
     display: flex;
     flex-direction: row;
     gap: 10px;
}

.value-historical,
.value-ensemble {
     color: var(--yellow);
     font-size: 2.5rem;
     font-weight: 700;
}

.value-ensemble {
     display: inline-block;
     text-align: right;
}

.time-range {
     font-weight: 200;
}

.prehead {
     color: var(--white);
     font-size: 1.2rem;
     font-weight: 200;
     padding-bottom: 0;
     margin-bottom: 0;
}

.fa-arrow-right,
.fa-arrow-left {
     color: var(--white);
     margin-top: 5px;
}

.arrow-value {
     display: flex;
     flex-direction: row;
     gap: 10px;
}

canvas {
     max-height: 400px;
}

.btn-close-yellow {
     background-color: var(--yellow) !important;
}


@media (orientation: portrait) or (width < 1000px) {
     .sidebar {
          max-width: 350px;
     }
}